@using BlazorApp.Weavy
@inject WeavyJsInterop wvy

<div @ref="weavyContainer" class="border rounded overflow-hidden" style="height: 300px;"></div>

@code{
    ElementReference weavyContainer;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await wvy.Init();
            var weavy = await wvy.Weavy();
            var space = await wvy.Space(weavy, new { key = "my-blazer-space" });
            var app = await wvy.App(space, new { key = "blazer-files", name = "Blazer Files", type = "files", container = weavyContainer });
        }
    }
}