@using BlazorApp.Weavy
@inject WeavyJsInterop wvy

<button class="btn btn-primary my-3" @onclick="ToggleApp">Toggle me</button>

<div @ref="weavyContainer" style="height: 300px;"></div>

@code{
    ElementReference weavyContainer;
    AppReference app;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await wvy.Init();
            var weavy = await wvy.Weavy(new { id = "blazor" });
            var space = await weavy.Space(new { key = "my-blazor-space" });
            app = await space.App(new { key = "blazor-files", name = "Blazor Files", type = "files", container = weavyContainer });
        }
    }

    private void ToggleApp() {
        app?.Toggle();
    }
}