@page "/"

<AuthorizeView>
    <Authorized>
        <div class="container-fluid my-2">
            <h1>Hello <span style="text-transform: capitalize;">@context.User.Identity.Name</span>!</h1>
            <p>Select Posts or Files in the navigation menu to see Weavy in action.</p>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container text-center my-5">
            <h1>Weavy ❤ Blazor</h1>
            <div class="mb-3">Please click one of the buttons below to login.</div>
            <NavLink class="btn btn-primary" href="login?username=oliver">Oliver</NavLink>
            <NavLink class="btn btn-success" href="login?username=lilly">Lilly</NavLink>
            <NavLink class="btn btn-info" href="login?username=adam">Adam</NavLink>
            <NavLink class="btn btn-warning" href="login?username=samara">Samara</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>
