@page "/"
@using BlazorApp.Weavy
@inject TokenService TokenService

<AuthorizeView>
    <Authorized>
        <h1>Hello !</h1>
        <p>You are logged in as <a href="Identity/Account/Manage">@context.User.Identity.Name</a>.</p>

        <Weavy />

    </Authorized>
    <NotAuthorized>
        <h1>Hello!</h1>
        <p>Please <a href="Identity/Account/Login">log in</a>.</p>
    </NotAuthorized>
</AuthorizeView>
