@page "/posts"

<div class="d-flex h-100 flex-column">
    <Weavy>
        <div class="container-fluid py-2">
            <h1>Posts</h1>
        </div>
        <div class="flex-fill">
            <WeavyApp SpaceKey="blazor-space" key="blazor-posts" type="posts" name="Blazor Posts" />
        </div>
    </Weavy>
</div>
